body {
    font-family: Arial, sans-serif;
    background-color: #def5ef;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 100px;
    color: #0b5a43;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #cbffcd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0b5a43;
}

label[for="username"] {
    min-width: 120px; /* Set minimum width for username label */
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #0b5a43;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
