body {
    font-family: Arial, sans-serif;
    background-color: #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}
.login-box {
    
}