body {
    font-size: 20px;
    background-color: #9E6752;
    font-family: arial;
    margin-left: 50px;
    margin-top:30px;
  }
  table {
    margin:-10px auto;
    background-color: #FED7A5;
  }
  h1 {
      text-align: center;
    }
  a {
    text-decoration: none;
    color:black;
  }