body {
    font-size: 20px;
    background-color: lightblue;
    font-family: arial;
    margin-left: 50px;
    margin-top:30px;
  }
  table {
    margin:-10px auto;
    background-color: pink;
  }
  h1 {
      text-align: center;
    }
  a {
    text-decoration: none;
  }