body {
    font-family: Arial, sans-serif;
    background-color: #c1c1c1; /* Warna background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-box {
    background-color: #cbffcd; /* Warna kotak login */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.login-box h1 {
    text-align: center;
    color: #0d7151; /* Warna judul */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #0d7151; /* Warna label */
}

.input-group input {
    width: 80%; /* Lebar input dikurangi menjadi 80% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.button-group button {
    background-color: #0d7151; /* Warna tombol */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%; /* Lebar tombol disesuaikan */
    margin-bottom: 10px;
}

.button-group button:hover {
    background-color: #0b5a43; /* Warna hover tombol */
}
