body {
    font-family: Arial, sans-serif;
    background-color: #c1c1c1; 
    color: #333;
    margin: 0;
    padding-top: 20px; /* Tambahkan padding atas */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.logo img {
    height: 50px;
}

.buttons button {
    background-color: #0d7151; /* Warna tombol */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; /* Mengatur margin agar tabel berada di tengah secara horizontal */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d7151; /* Warna judul */
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar button {
    background-color: #0d7151; /* Warna tombol cari */
    border: none;
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white; /* Warna tabel */
}

table thead {
    background-color: #0d7151; /* Warna header tabel */
    color: white;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #cbffcd; /* Warna baris genap */
}

table tr:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    table thead {
        display: none;
    }

    table, table tbody, table tr, table td {
        display: block;
        width: 100%;
    }

    table tr {
        margin-bottom: 15px;
        border: none;
    }

    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
